<!-- {{ 'mel' }}  String interpolation -> permite hacer una sentencia que se resolverá como un string para ser renderizado ene l DOM -->

<!-- ngModel es una directiva para trabajar en formularios y se agrega un módulo en app.module.t
enlace datos y ngModel sirve para renderizar una variable y modificarla en nuestro controlador-->
<input type="text" [(ngModel)] = "title">
{{ title }}

<!-- *******************************  Condicional ngSwitch para recorrer objetos *******************************  -->
<div [ngSwitch]="title">
  <p *ngSwitchCase="'mel'">Esta es Mel</p>
  <p *ngSwitchCase="'mar'">Esta es Mar</p>
  <p *ngSwitchCase="'bel'">Esta es Bel</p>
  <p *ngSwitchCase="'all'"> Soy todos</p>
  <p *ngSwitchDefault>No hay match</p>
</div>
<!-- ********************************************************************************************************  -->


<!--ngif condicional común if and else
<div *ngIf="title === 'mel'">
  Esta es Mel
</div>
<div *ngIf="title === 'mar'">
  Esta es Mar
</div>
<div *ngIf="title === 'bel'">
  Esta es Bel
</div>
-->
<!-- *******************************  Condicional ngFor para recorrer arreglos *******************************  -->

<!-- Agregar items por medio de una acción que va a ejecutar un método que se crea en app.component.ts -->
<button (click)="addItem()"> add item</button>

<!-- ngFor es una directiva estructural que genera una plantilla por cada elemento de una colección -->
<ul>
  <li *ngIf="items.length === 0"> La lista está vacía</li> <!-- Revisa si el arreglo ya no tiene alguna posición -->
  <!-- let (variable iteradora) item (nombre de variable) of (instrucción para llamar el arreglo) items (nombre del arreglo) -->
  <li *ngFor="let name of items; index as i"> <!-- Es una instrucción para mostrar las iteraciones del arreglo -->
    {{ name }} {{ i }} <!-- String interpolation del nombre de las varibales -->
    <button (click)="deleteItem(i)"> delete </button> <!-- btn para eliminar items -->
  </li>
</ul>
<!-- ********************************************************************************************************  -->

<!-- *******************************  Condicional ngFor para recorrer objetos *******************************  -->
<div *ngFor="let product of products">
  {{ product.title }}
  <img [src]="product.image " alt=""> <!-- con [] se puede modificar cualquier etiqueta de html-->
  {{ product.price }}
</div>
<!-- ********************************************************************************************************  -->

<app-product></app-product>
